$bluec: #1EACC7

=btn_hover
  &:hover
    background-image: none
    background-color: $bluec

#scrollContainer:hover 
  cursor: pointer

*
  font-family: 'Roboto', sans-serif

#topBtn 
  display: none
  position: fixed
  bottom: 20px
  right: 20px
  background: rgba(28, 105, 212, 0.4)
  backdrop-filter: blur(8.5px)
  color: #fff
  padding: 10px
  border: none
  border-radius: 5px
  cursor: pointer
  text-align: center


#topBtn img
    display: block
    margin: 0 auto 5px

#topBtn span
    display: block
  
$card-border-color: #ddd
$text-color: #333
$primary-color: #005daa

body 
  height: 100% 
  margin: 0
  padding: 0

header
  width: 100%
  height: 85px
  z-index: 10
  background: rgba(0, 0, 0, 0.24)
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  backdrop-filter: blur(8.5px)
  -webkit-backdrop-filter: blur(8.5px)
  
nav
  width: 100%
  height: 30px
  
.navbar
  .container
    height: inherit
    display: flex
    align-items: center
    justify-content: left

  &::before 
    content: ''
    position: absolute
    width: calc(100% - 640px)
    height: 1.5px  
    background-color: #FFF
    bottom: -40px
    left: 320px

  &_logo
    width: 65px

  &_menu
    list-style-type: none
    padding-left: 0
    margin-bottom: 0

    li
      display: inline-block
      position: relative

    li a
      display: inline-block
      color: #FFF
      text-decoration: none
      padding: 15px
      position: relative
    
    li a::after
      content: ''
      position: absolute
      width: 100%
      height: 3px
      background-color: #00ff2a
      bottom: 0
      left: 0
      transform: scaleX(0)
      transform-origin: bottom right
      transition: transform 0.5s ease

    li a.active::after 
      transform: scaleX(1)
      transform-origin: bottom left
      transition: transform 0.5s ease

    li a:hover::after
      transform: scaleX(1)
      transform-origin: bottom left

  &_wrap
    display: flex
    flex-flow: row nowrap

  &_toggle
    display: none
    position: absolute
    right: 0
    top: 50%
    height: 4px
    width: 25px
    background-color: #FFF
    transition: transform 0.5s ease
    cursor: pointer

    &::before, &::after
      content: ''
      position: absolute
      width: 25px
      height: 4px
      background-color: #FFF
      transition: transform 0.5s ease

    &::before
      transform: translateY(-8px)

    &::after
      transform: translateY(8px)

    &.active
      transform: rotate(45deg)

      &::before, &::after
        transform: rotate(90deg) translateX(-8px)

.avto

.models-title
  width: 100%
  text-align: left
  margin: 30px 0

  h2
    font-size: 1.5em
    color: #000
    padding: 10px 0
    border-bottom: 2px solid #ddd

.model-label-wrapper
  margin-top: 4px

.model-label
  background-color: rgba(121,127,132,.2)
  font-weight: 700
  font-style: normal
  font-stretch: normal
  letter-spacing: 3px
  color: #161718
  line-height: 11px
  font-size: 14px
  padding: 5px 10px
  display: inline-block
  border-radius: 2px

.model-label-top-wrapper 
  font-weight: 700
  font-style: normal
  font-stretch: normal
  letter-spacing: 3px
  color: #797f84
  line-height: 11px
  font-size: 12px
  position: absolute
  top: 5px
  left: 5px

.car-container
  display: flex
  flex-wrap: wrap
  margin: 10px
  padding-left: 15%
  padding-right: 15%

.car-card
  position: relative
  border: 1px solid #ddd
  border-radius: 4px
  margin-bottom: 20px
  width: calc(16.6%)
  text-align: center
  overflow: hidden
  transform: scale(0.85)
  transform-origin: center
  
  img
    width: 100%
    height: auto
    display: block
    justify-content: center

  .car-info
    padding: 15px

    h2
      font-size: 1.3em
      font-weight: 700
      font-style: normal
      font-stretch: normal
      letter-spacing: normal
      color: #161718  
      line-height: 113%

  &:hover
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)

.car-price
  color: #000
  font-size: 1.1em
  font-weight: 500

.footer-container
  display: flex
  flex-wrap: wrap
  margin: 10px
  padding-left: 15%
  padding-right: 15%
  transform: scale(0.8)
  padding-top: 50px

.car-footer
  border: 1px solid #ddd
  border-radius: 4px
  margin-bottom: 20px
  width: calc(33.333% - 20px)
  transform: scale(0.85)
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center

.image-wrapper
  display: flex
  justify-content: center
  align-items: center
  transform: scale(0.8)

  object svg
    height: auto

.subheadline
  font-size: 20px
  font-weight: 700
  width: 100%
  text-align: center
  color: #000

.headline
  min-width: 160px
  text-align: center
  margin-bottom: 10px
  color: #000


.content-wrapper
  display: flex
  flex-direction: column
  align-items: center

.modal
  display: none
  position: fixed
  z-index: 1
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgb(0, 0, 0)
  background-color: rgba(0, 0, 0, 0.4)

.modal-content
  position: relative
  background-color: #fefefe
  margin: 10% auto
  padding: 20px
  border: 1px solid #888
  width: 80%
  max-width: 600px
  border-radius: 5px
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  padding: 20px

.close
  color: #aaaaaa
  float: right
  font-size: 28px
  font-weight: bold

  &:hover, &:focus
    color: #000
    text-decoration: none
    cursor: pointer

.submit
  background-color: #4CAF50
  color: white
  padding: 14px 20px
  border: none
  border-radius: 4px
  cursor: pointer
  
input
  &[type=text], &[type=email]
    width: 100%
    padding: 12px
    border: 1px solid #ccc
    border-radius: 4px
    box-sizing: border-box
    margin-top: 6px
    margin-bottom: 16px

textarea
  width: 100%
  padding: 12px
  border: 1px solid #ccc
  border-radius: 4px
  box-sizing: border-box
  margin-top: 6px
  margin-bottom: 16px
 
.promo
  min-height: 1080px
  margin-top: -85px
  z-index: 9
  background: url("../img/probeg_5.png") center (center / cover) no-repeat

  .container
    display: flex
    align-items: flex-end
    padding-top: 600px

  &_header
    color: #FFF
    text-align: left
    font-size: 50px
    font-style: normal
    font-weight: 300
    margin: 0
    text-transform: uppercase

  &_subheader
    color: #FFF
    font-size: 14px
    font-style: normal
    font-weight: 700
    text-transform: uppercase
    margin-top: 10px
  
  &_btn
    display: flex
    width: 267.98px
    margin-top: 35px
    margin-left: 30px
    color: #FFF
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)
    font-size: 18px
    font-style: normal
    font-weight: 400
    line-height: 52px
    border-radius: 4px
    background: linear-gradient(0deg, #1C69D4 0%, #1C69D4 100%)
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset
    border: none
    justify-content: center
    +btn_hover

.service

  &_label
    display: flex
    margin: 20px auto 0 auto
    width: 115px
    height: 27px
    color: #666
    text-align: center
    font-size: 14px
    font-style: normal
    font-weight: 700
    line-height: 20px
    text-transform: uppercase
    flex-shrink: 0
    padding: 8px
    margin-top: 80px
  
  &_tittle
    padding-top: 10px
    color: #222
    text-align: center
    font-size: 64px
    font-style: normal
    font-weight: 300
    line-height: 80px
    text-transform: uppercase

  &_picture
    text-align: center
    width: 100%
    height: 120px

  &_text
    color: #262626
    font-size: 24px
    font-style: normal
    font-weight: 300
    line-height: 32px

  &_item
    text-align: center

.baton
  margin-bottom: 65px
  margin-top: 55px

.probeg

  &_bg
    min-height: 640px
    background: url("../img/probeg_1.png") center (center / cover) no-repeat
    transition: background 0.5s ease-in-out


  &_strelki
    display: flex
    justify-content: space-between
    margin: 0 95px 0 95px
    transform: translateY(325px)
    
  &_icons
    cursor: pointer

  &_text
    padding-bottom: 100px

  &_header
    color: #FFF
    text-transform: uppercase
    padding-top: 350px

  &_subheader
    color: #FFF
    text-transform: uppercase

  &_btn
    display: flex
    width: 350px
    margin-top: 35px
    color: #FFF
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)
    font-size: 18px
    font-style: normal
    font-weight: 400
    line-height: 52px
    border-radius: 4px
    background: linear-gradient(0deg, #1C69D4 0%, #1C69D4 100%)
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset
    border: none
    justify-content: center
  +btn_hover

.width
  margin-left: 65px
  margin-right: 50px
  display: flex

.drift
  background: #000
  display: flex
  flex-direction: row

  &_text_photo


  &_photo
    padding: 50px 0 50px 0

  &_img
    width: 100%
    height: auto

  &_text
    padding-top: 80px
    margin-left: 80px

  &_text_header
    color: #999
    font-size: 14px
    font-style: normal
    font-weight: 700
    line-height: 20px
    letter-spacing: 2.8px
    text-transform: uppercase


  &_text_subheader
    color: #FFF
    font-size: 64px
    font-style: normal
    font-weight: 300
    line-height: 80px
  
  &_text_descr
    color: #FFF
    font-size: 16px
    font-style: normal
    font-weight: 300
    line-height: 24px
  
  &_btn
    display: flex
    width: 267.98px
    margin-top: 35px
    color: #FFF
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)
    font-size: 18px
    font-style: normal
    font-weight: 400
    line-height: 52px
    border-radius: 4px
    background: linear-gradient(0deg, #1C69D4 0%, #1C69D4 100%)
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset
    border: none
    justify-content: center
    +btn_hover

.follow
  margin: auto

  &_text
    text-align: center
    justify-content: center
    color: #000
    font-size: 47.875px
    font-style: normal
    font-weight: 400
    line-height: 70.4px
    margin-top: 120px

  &_logotype
    display: flex
    flex-direction: row
    justify-content: center
  
  &_logo

    justify-content: center
    margin-top: 50px
    padding: 50px
    margin-bottom: 100px

  &_logo img 
    max-width: 100%
    height: auto

.map
  background-color: #FFF
  color: #000

  .container
    padding: 60px 60px

  &_text
    min-height: 16px

  &_descr
    font-size: 2.1875rem
    font-weight: bold
    line-height: 44px

  &_subheader
    font-weight: bold

  &_numbers
    color: rgb(75, 168, 46)
    font-weight: 300
    text-decoration: underline

.footer
  background-color: #000

  &_head
    display: flex
    justify-content: space-between
    margin: 0 95px 0 95px
    padding: 30px 0 100px 0
    
  &_name
    text-decoration: none
    color: #FFF
    padding-left: 30px
    font-size: 12px
    font-style: normal
    font-weight: 700
    line-height: 16px

  &_text
    color: #FFF
    font-size: 12px
    font-style: normal
    font-weight: 300
    line-height: 16px

  &_sub_text

  &_logo_text
    text-align: center

  &_photo
    width: 115px
  
  &_text_descr
    margin-top: 10px
    color: #FFF
    font-size: 30px
    font-style: normal
    font-weight: 400
    line-height: 70.4px

  &_strelka
    text-align: center
    margin-top: 100px
    padding-bottom: 65px

  &_photo_sub
    width: 30px
  
  &_text_top
    margin-top: 10px
    color: #FFF
    font-size: 20px
    font-style: normal
    font-weight: 400
    line-height: normal


@media (max-width: 1024px)
  .car-card
    width: calc(50% - 40px)

@media (max-width: 600px)
  .car-card
    width: calc(100% - 20px)

@media (max-width: 1199px)
  .promo .container
    padding-top: 500px

  .promo_header
    font-size: 40px

  .promo_subheader
    font-size: 12px

  .promo_btn
    width: 250px
    line-height: 48px
    
  .drift_text
    padding-top: 50px
    margin-left: 60px
    margin-bottom: 20px

  .drift_photo img 
    width: 100%

/* Адаптация для планшетов и мобильных
@media (max-width: 991px)
  .navbar_toggle
    display: block

  .navbar_wrap
    display: none
    position: absolute
    background-color: #000
    top: 100%
    left: 0
    width: 100%
    transition: all 0.5s ease
    z-index: 1000

    &.active
      display: flex
      flex-direction: column

  .navbar_menu
    width: 100%
    flex-direction: column

    li
      display: block
      width: 100%

      a
        display: block
        text-align: left
        width: 100%
        padding: 15px

  .navbar::before
    display: none

  .promo .container
    padding-top: 600px
    margin-left: 25px

  .promo_btn
    margin-top: 25px
    margin-left: 0

  .probeg_bg
    min-height: 500px
    background-position: center center
    background-size: cover

  .probeg_strelki
    margin: 0 50px
    transform: translateY(200px)

  .probeg_header
    padding-top: 250px
    font-size: 40px

  .probeg_subheader
    font-size: 14px

  .probeg_btn
    width: 100%
    max-width: 300px
    line-height: 48px
    font-size: 16px
    
  .drift_text
    padding-top: 40px
    margin-left: 40px

  .drift_text_header
    font-size: 12px

  .drift_text_subheader
    font-size: 48px
    line-height: 60px

  .drift_text_descr
    font-size: 14px

  .follow_text
    font-size: 36px
    line-height: 50px
    margin-top: 60px

  .follow_logo
    margin-top: 25px
    padding: 25px
    margin-bottom: 50px

/* Адаптация для мобильных устройств
@media (max-width: 767px)
  .navbar_toggle
    display: block

  .navbar_wrap
    display: none
    position: absolute
    background-color: #000
    top: 100%
    left: 0
    width: 100%
    transition: all 0.5s ease
    z-index: 1000

    &.active
      display: flex
      flex-direction: column

  .navbar_menu
    width: 100%
    flex-direction: column

    li
      display: block
      width: 100%

      a
        display: block
        text-align: left
        width: 100%
        padding: 15px

  .footer-container
    display: flex
    flex-direction: column
    align-items: center
    margin-top: -80px

  .headline, .subheadline
    font-size: 14px

  .promo
    min-height: 800px

  .promo_header
    font-size: 24px

  .promo_subheader
    font-size: 10px

  .promo_btn
    width: 200px
    line-height: 40px
    font-size: 16px
    margin-bottom: 100px

  .service
    .container
      padding: 0

  .probeg_bg
    min-height: 300px
    background-position: center center
 
  .probeg_strelki
    display: none

  .probeg_header
    padding-top: 150px
    font-size: 30px

  .probeg_subheader
    font-size: 12px

  .probeg_btn
    max-width: 250px
    line-height: 40px
    font-size: 14px

  .width
    display: grid
    justify-content: center
    align-content: center 
    text-align: center

  .drift_photo
    padding: 20px

  .drift_text
    padding: 20px
    margin-left: 0

  .drift_text_header
    font-size: 10px

  .drift_text_subheader
    font-size: 36px
    line-height: 48px

  .drift_text_descr
    font-size: 12px
    margin-bottom: 25px

  .drift_btn
    width: 100%
    max-width: 250px
    font-size: 16px
    line-height: 48px
    margin: 0 auto
    display: block

  .follow
    .container
      padding: 0

  .follow_text
    font-size: 24px
    line-height: 35px
    margin-top: 30px

  .follow_logo
    margin-top: 10px
    padding: 10px
    margin-bottom: 30px

    img
      max-width: 80%

  .footer_head
    margin: 0 30px
    padding: 30px 0
    flex-direction: column

  .footer_name, .footer_text
    padding-left: 0
    text-align: center
    padding-bottom: 10px
    margin: 0 10px

  .footer_sub_text
    text-align: center
    padding-left: 13px

/* Адаптация для мобильных устройств с очень маленькими экранами
@media (max-width: 575px)
  .promo
    min-height: 600px
      
  .promo_header
    font-size: 20px

  .promo_subheader
    font-size: 8px

  .promo_btn
    width: 180px
    line-height: 36px
    font-size: 14px

  .probeg_bg
    min-height: 250px

  .probeg_header
    padding-top: 120px
    font-size: 24px

  .probeg_subheader
    font-size: 10px

  .probeg_btn
    max-width: 90%
    margin: 20px 0

  .width
    display: grid

  .drift_photo, .drift_text
    padding: 10px

  .drift_text_header
    font-size: 8px

  .drift_text_subheader
    font-size: 24px
    line-height: 34px

  .drift_text_descr
    font-size: 11px

  .drift_btn
    font-size: 14px
    line-height: 44px

  .follow_text
    font-size: 18px
    line-height: 25px
    margin-top: 20px

  .follow_logo
    margin-top: 5px
    padding: 5px
    margin-bottom: 15px

    img
      max-width: 70%